.circle {
  background: transparent;
  // margin-left: auto;
  // margin-right: auto;
  border-radius: 100%;
}

@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes rspin {
  100% { -webkit-transform: rotate(-360deg); }
}

.c1 {
  margin-top: 40px;
  border: 8px dashed rgba($purple, 0.5);
  width: $box1-length;
  height: $box1-length;
  -webkit-animation: spin 4s linear infinite;
}

.c2 {
  border: 8px solid rgba($purple, 0.5);
  width: $box2-length;
  height: $box2-length;
  margin-top: $box2-margin;
}

.c3 {
  border: 16px solid rgba($purple, 0.3);
  width: $box3-length;
  height: $box3-length;
  margin-top: $box3-margin;
}

.c4 {
  border: 4px solid rgba($purple, 0.3);
  width: $box4-length;
  height: $box4-length;
  margin-top: $box4-margin;
}

.c5 {
  border: 4px dashed rgba($blue, 0.5);
  width: $box5-length;
  height: $box5-length;
  margin-top: $box5-margin; 
  -webkit-animation: rspin 3s linear infinite;
}

.c6 {
  border: 4px solid rgba($purple, 0.2);
  width: $box6-length;
  height: $box6-length;
  margin-top: $box6-margin; 
}

.c7 {
  border: 4px solid rgba($light-purple, 0.6);
  width: $box7-length;
  height: $box7-length;
  margin-top: $box7-margin; 
}

.c8 {
  border: 4px solid rgba($purple, 0.2);
  width: $box8-length;
  height: $box8-length;
  margin-top: $box8-margin; 
}

.c9 {
  border: 8px solid rgba($light-purple, 0.6);
  width: $box9-length;
  height: $box9-length;
  margin-top: $box9-margin; 
}

.c10 {
  border: 2px solid rgba($blue, 0.5);
  width: $box10-length;
  height: $box10-length;
  margin-top: $box10-margin; 
}

.c11 {
  border: 4px dashed rgba($blue, 0.3);
  width: $box11-length;
  height: $box11-length;
  margin-top: $box11-margin; 
  -webkit-animation: spin 3s linear infinite;
}

.c12 {
  border: 6px solid rgba($light-purple, 0.6);
  width: $box12-length;
  height: $box12-length;
  margin-top: $box12-margin; 
}

.c13 {
  border: 4px solid rgba($light-red, 0.6);
  width: $box13-length;
  height: $box13-length;
  margin-top: $box13-margin; 
}

.c14 {
  border: 6px solid rgba($dark-blue, 0.6);
  width: $box14-length;
  height: $box14-length;
  margin-top: $box14-margin; 
}

.c15 {
  border: 6px solid rgba($light-blue, 0.6);
  width: $box15-length;
  height: $box15-length;
  margin-top: $box15-margin; 
}

.c16 {
  border: 8px dotted rgba($light-red, 0.6);
  width: $box16-length;
  height: $box16-length;
  margin-top: $box16-margin; 
  margin-left: $box16-margin; 
  -webkit-animation: rspin 8s linear infinite;
}

.c17 {
  border: 4px solid rgba($light-blue, 0.6);
  width: $box17-length;
  height: $box17-length;
  margin-top: $box17-margin; 
}

.c18 {
  border: 4px solid rgba($dark-green, 0.6);
  width: $box18-length;
  height: $box18-length;
  margin-top: $box18-margin; 
}

.c19 {
  border: 6px dotted rgba($light-blue, 0.6);
  width: $box19-length;
  height: $box19-length;
  margin-top: $box19-margin; 
  -webkit-animation: rspin 4s linear infinite;
}

.c20 {
  border: 6px solid rgba($light-red, 0.8);
  width: $box20-length;
  height: $box20-length;
  margin-top: $box20-margin; 
  margin-left: $box20-margin; 
}

.c21 {
  border: 12px solid rgba($light-red, 0.3);
  width: $box21-length;
  height: $box21-length;
  margin-top: $box21-margin; 
}

.c22 {
  border: 4px dotted rgba($light-red, 0.8);
  width: $box22-length;
  height: $box22-length;
  margin-top: $box22-margin; 
  -webkit-animation: spin 4s linear infinite;
}

.c23 {
  border: 8px solid rgba($light-blue, 0.5);
  width: $box23-length;
  height: $box23-length;
  margin-top: $box23-margin; 
}

.c24 {
  border: 4px solid rgba($dark-green, 0.5);
  width: $box24-length;
  height: $box24-length;
  margin-top: $box24-margin; 
}

.c25 {
  border: 4px dotted rgba($purple, 0.8);
  width: $box25-length;
  height: $box25-length;
  margin-top: $box25-margin; 
  -webkit-animation: rspin 4s linear infinite;
}

.c26 {
  border: 12px solid rgba($light-red, 0.5);
  width: $box26-length;
  height: $box26-length;
  background: rgba($dark-green, 0.3);
  margin-top: $box26-margin; 
}